div.companyTechs {
	margin-top: 10px;
} 

nav.topbar {
	margin-bottom: 0 !important;
	border-radius: 0 !important;
	position: static;
}

div#jobSearchBar, div.jobDetails {
	margin-top: 10px; 
}

div.jobDetails {
	width: 155%;
	margin-left: -120px;
	margin-top: 45px;
	/*bottom: 0;*/

}

body {
 	font-family: Calibri;
}

div#iframeBody {
	padding: 0 !important;
}

div.searchBar {
	left: -135px;
}

